{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Cover your page index.html.twig.</h1>
        <p class="lead">Stack with: sf5 + easy admin + webpack + bootstrap</p>
        <p class="lead">
            <a href="https://github.com/hmartin/symfony-stack" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>
{% endblock %}
